* {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.App {
  text-align: center;
}

.calltoaction-container {
  display: flex;
  width: 80%;
  /* background-color: #e6474f; */
  margin: auto;
  justify-content: space-evenly;
  border: 1px solid gray;
}
